@model DataAnnotationValidationFinSub.Models.BookCatalogModel

@{
    ViewBag.Title = "Book Registration";
}

<h1>Book Catalog Registration</h1>



<br />

@using (Html.BeginForm("BookRegistration", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.ID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Summary, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.Summary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Summary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ISBN, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.ISBN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ISBN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Author, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.Author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Publication, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.Publication, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Publication, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LocCode, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.LocCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.LocCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Register Book Catalog" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<br/>

@if (ViewBag.Name != null)
{<div class="container">
    <h1 style="color:darkgrey">Recently Saved Book Catalog</h1>
    <p style="color:grey">
        <b class="col-md-2">Book Name: </b> @ViewBag.Name<br />
        <b class="col-md-2">ISBN No: </b> @ViewBag.ISBN<br />
        <b class="col-md-2">Location: </b> @ViewBag.LocCode <br />
    </p>
    </div>
}